<section class="root-el">

</section>

<script type="text/template" id='log-out-button'>
  <form action="/sessions" method="post">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <button class="nav-button">Log Out</button>
  </form>
</script>


<script charset="utf-8">
  $(document).ready(function(){
    VillageBicycle.bicon = '<%= image_url('bicycle.png') %>';
    VillageBicycle.initialize({
      currentUserId: <%= current_user.id %>,
      $rootEl: $('.root-el')
    });
  });
</script>
