<% bikes.forEach( function (bike) { %>
  <li class="subview-list-li" data-item-id="<%= bike.id %>">
    <%= bike.escape('name') %> the <%= bike.escape('type') %> -
    $<%= bike.escape('hourly_price') %>/hour
    <article class="list-item-info group">

    </article>
  </li>
<% }); %>
