<form action="<%= sessions_url %>" method="post">
  <%= auth_token %>

  <label for="user_email">Email</label>
  <input type="text"
         id="user_email"
         name="user[email]"
         value="">
  <br>
  <label for="user_password">Password</label>
  <input type="password"
         id="user_password"
         name="user[password]"
         value="">
  <br><br>
  <button>Submit</button>
</form>

<form action="<%= new_user_url %>" method="get">
  <button>Sign Up</button>
</form>
