<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Village Bicycle!, <%= @user.fname %></h1>
    <h3>Dear <%= @user.fname %>,</h3>
    <p>
      You have successfully signed up The Village Bicycle, but you're not
      quite ready to get those training wheels off. First, you need to activate
      your account by visiting <%= @url %>. Once you go to that page, you'll
      be ready to ride!
    </p>
    <p>Thanks for joining and pedal on!</p>
  </body>
</html>
