<% var requestor; %>

<% requests.forEach( function (request) { %>
  <% if (request.escape('requestor_id') == VillageBicycle.currentUserId) { %>
    <% requestor = "Your"; %>
  <% } else { %>
    <% requestor = request.escape('requestor_name') + "'s" %>
  <% } %>


  <li class="subview-list-li" data-item-id="<%= request.id %>">
    <%= requestor %> request for <%= request.escape('bike_name') %> the
    <%= request.escape('bike_type') %>
    <article class="list-item-info group">
    </article>
  </li>

<% }); %>
