<% var requestor; %>

<% requests.forEach( function (request) { %>
  <% if (request.escape('requestor_id') == VillageBicycle.currentUserId) { %>
    <% requestor = "Your"; %>
  <% } else { %>
    <% requestor = request.escape('requestor_name') + "'s" %>
  <% } %>


  <li class="subview-list-li request-subview" data-item-id="<%= request.id %>">
    <%= requestor %> request for <%= request.escape('bike_name') %> the
    <%= VillageBicycle.Sets.grab("categories", request.get('bike_cat_id')).name %>
    <article class="list-item-info group">
    </article>
  </li>

<% }); %>
