/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self

 */

 html, body, section, article, button,
 h1, h2, p, strong, em, a, ul, li {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   font-family: sans-serif;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
 }

 a:hover {
   color: inherit;
   text-decoration: none;
 }

 button {
   text-align: center;
   cursor: pointer;
 }

 ul, li {
   list-style: none;
 }

 h1 {
   font-size: 24px;
 }


 h2 {
   font-size: 18px;
 }

 h3 {
   font-size: 14px;
 }

 form button {
   display: block;
   width: 60px;
   margin: auto;
 }

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 .root-el {
   width: 800px;
   margin: auto;
 }

 .header {
   background: #BB1244;
   height: 50px;
   padding: 0 50px
 }

 .header button {
   float: right;
   background: transparent;
   color: white;
   border-style: none;
   font-size: 16px;
   width: 100px;
   height: 100%;
 }

 button:hover {
   background: #870D31;
   color: white;
   border-style: none;
   font-size: 14px;
 }

 button:active {
   font-size: 12px;
 }

 .header form {
   float: right;
   width: 100px;
   height: 100%;
 }

 .header .logo-button {
   margin-top: 10px;
   float: left;
   margin: auto;
   font-size: 24px;
   color: white;
   width: 200px;
 }

 .header .logo-button:hover {
   font-size: 20px;
 }

 .header .logo-button:active {
   font-size: 18px;
 }

 .profile-info {
   margin: 50px auto 0px auto;
   width: 800px;
   background: #eeeeee;
   padding: 10px 0;
 }

 .profile-picture {
   margin: 0 10px;
   float: left;
   border: 1px solid #151515;
   background: white;
 }

 .profile-info > strong {
   font-weight: bold
 }

 .profile-info ul {
   padding: 5px 0;
 }

.edit-page, .delete-model {
  float: right;
  width: 50px;
  margin-right: 10px;
  background: #efefef;
  border-style: none;
  font-size: 16px;
  border-radius: 3px;
}

.delete-model {
  width: 70px;
  border-radius: 8px

}

.edit-page:hover, .delete-model:hover {
  background: #bb1244;
  color: #fff;
  border-radius: 8px
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  opacity: .65;
  height: 100%;
  width: 100%;
}

.modal-form {
  background: #bb1244;
  color: white;
  position: absolute;
  opacity: 1;
  top: 50px;
  padding: 25px;
  border-radius: 2px;

}

.modal-form input, .modal-form textarea {
  color: black;
  margin: 15px 0;
  border-radius: 2px;
}
