// Place all the styles related to the Bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.price-list {
  float: left;
  width: 156px;
  margin: 25px auto;
  font-size: 16px;
  text-align: center;
}
.price-list li {
  display: block;
  width: 100px;
  padding: 10px 25px;
  border: 3px solid white;
  background: #4412BB;
  color: white;
  margin: 10px 0;
}

.extras-list {
  float: left;
  width: 400px;
  font-size: 14px;
  text-align: center;
}

.extras-list li {
  display: block;
  width: 65px;
  padding: 10px 5px;
  float: left;
  color: white;
  background: #BB1244;
  border-radius: 2px;
}

.extras-list li:not(:last-of-type) {
  margin-right: 10px;
}

.more-info {
  margin: auto;
  width: 850px;
}

.rental-info {
  background: #eeeeee;
  padding: 10px 15px;
  margin-top: 20px;
}

#map-view {
  float: left;
  height: 300px;
  width: 395px;
  margin: 10px 115px 0px 0px;
  padding: 0;
  background: black;
  border: 3px solid #151515;
}


.bike-request-form {
  float: left;
  width: 350px;
  background: #eeeeee;
  padding: 10px 15px;
  margin-left: 25px;
}

.bike-request-form form {
  margin: auto;
}
