.reset {
  float: right;
}

.search-form-container {
  background: #eee;
  padding: 20px;
  border-radius: 15px;
}

.search-form-container h1 {
  display: block;
  text-align: center;
  border-bottom: 2px solid #870D31;
  margin-bottom: 20px;
}

.search-form-container h2 {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.search-form-container button,
.search-nav-buttons button {
  color: #bb1244;
  border: 2px solid #BB1244;
  padding: 8px 10px 5px 10px;
  border-radius: 15px;
  font-size: 16px;

}

.search-form-container button:hover,
.search-nav-buttons button:hover {
  border: 2px solid #fff;
  background: #BB1244;
  color: #FFFFFF;
  font-size: 16px;
}

.search-form-container button:active,
.search-nav-buttons button:active {
  padding: 8px 10px 6px 10px;
  font-size: 14px;
}

.search-by-bike-stat {
  width: 50%;
  border-right: 2px solid #870D31;
}

.search-by-bike-stat select,
.search-by-bike-stat input:not([type='radio']),
.search-by-date label {
  display: block;
  margin: 5px 0 10px 0;
}

.search-by-size {
  margin-left: 0;
  width: 340px;
}

.search-by-size h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
}

.search-by-size label {
  margin: 5px 30px 5px 5px;
}

.search-by-date {
  width: 280px;
  float: right;
}

.search-results-container {
  position: relative;
}

.search-results-container.filled {
  min-height: 490px;
  max-height: 600px;
}

.search-results-container .map-view {
  position: absolute;
  left: 400px;
  border-radius: 15px;
}

.search-by-date select {
  margin: 5px 0 10px 0;
}

.search-results-list {
  padding: 10px 5px;
  background: #eee;
  width: 380px;
  float: left;
  border-radius: 15px;
  margin-top: 10px;
}

.search-nav-buttons {
  position: relative;
  top: 400px;
  left: 130px;
}

.search-nav-buttons button {
  margin-right: 50px;
}

.search-nav-buttons button {
  background: #bb1244;
  color: #fff;
  border: 2px solid #BB1244;
  padding: 8px 10px 5px 10px;
  border-radius: 15px;
  font-size: 16px;
}
