// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.biking-around {
  display: block;
}

.user-bio {
  margin-top: 10px;
  width: 250px;
  padding: 0;
  float: left;
}

.subview-list .add-bike {
  float: right;
  background: #fff;
  color: #BB1244;
  margin: 5px 5px 0 0;
}

.subview-list .add-bike:hover {
  color: #FFFFFF;
  margin: 5px 5px 0 0;
}

.subview-list .add-bike:active {
  background: #870D31;
  color: #FFFFFF;
  margin: 5px 5px 0 0;
}
