

<section id='search-results' class='search-results-list group'>

</section>


<section id='map-view' class='map-view'></section>

<nav class='search-nav-buttons'>
  <button class='prev-button'>Prev</button>

  <button class='next-button'>Next</button>
</nav>
