<a href="#/bikes/search">
  <button class="logo-button">
    Village Bicycle
  </button>
</a>



<nav class='header-nav'>
  <a href="#/bikes/search">
    <button class="nav-button">
      Search
    </button>
  </a>

  <a href="#/users/<%= VillageBicycle.currentUserId %>">
    <button class="nav-button">
      Home
    </button>
  </a>

  <%= _.template($('#log-out-button').html())() %>
</nav>

<input type="text"
       id="pg-search"
       val=""
       placeholder="Find another user or favorite bike...">
