<% results.forEach(function(result){ %>
  <li class="quick-search-result-li group" data-url="<%= result.urlRoot.slice(4) +"/" + result.id%>">
    <img src="<%= result.get('image_url_thumb') %>" alt="Pic" />
    <strong>
      <%= result.escape('name') %>
      <% if (result.get('category_id')) { %>
        the <%= VillageBicycle.Sets.grab("categories", result.get('category_id')).name %>
      <% } %>
    </strong>
  </li>
<% }) %>
